<nav class="w-full bg-purple-700 py-2 flex justify-between items-center px-10">
  <h1 class="text-2xl font-bold text-white">
    <a href="/">
      <img src="/static/images/dark_logo.png" alt="GuPShuP" class="h-12" />
    </a>
  </h1>
  <div class="flex items-center gap-3">
    <span class="text-2xl font-semibold text-white">{{ username }}</span>
    <div
      class="w-10 h-10 bg-purple-500 rounded-full flex items-center justify-center text-white text-lg font-bold"
    >
      <button onclick="toggleProfileModal()">
        <span>&#128100;</span>
      </button>
    </div>
    <div class="md:hidden">
      <button onclick="toggleSidebar()" class="text-white text-3xl">
        &#9776;
      </button>
    </div>
  </div>
</nav>
